body {
  background-color: $body-bg;
  overflow-x: hidden;
  width: 100%;
}

body .content {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

body.front-page-data .content,
body.single .content {
  padding: 0;
}

.img-thumbnail {
  background-color: $bg-light;
  //border: 1px solid #dee2e6;
  border-radius: $card-border-radius;
  padding: 0.5rem;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}


// Darker color
.bg-darker {
  background-color: #31373D !important;
}

.bg-light-blue {
  background-color: $bg-light;
}

// 300, 400, 500, 600

.font-size-1 {
  font-size: 1.25rem;
}

.font-size-2 {
  font-size: 1.5rem;
}

.font-size-3 {
  font-size: 2rem;
}

// Sticky Footer
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &.admin-bar {
    min-height: calc(100vh - 32px);
  }
  .wrap {
    flex: 1;
  }
}

// Make content grow
.wrap {
  .content, main.main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    .flex-grow {
      flex-grow: 1;
    }
  }
}

