body {
  background-color: $body-bg;
}

body .content {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

body.front-page-data .content {
  padding: 0;
}

.Section {
  //@extend .py-5;
  padding-top: 4rem;
  padding-bottom: 5rem;
  .Section-heading {
    text-align: center;
  }
}

.img-thumbnail {
  background-color: $bg-light;
  //border: 1px solid #dee2e6;
  border-radius: $card-border-radius;
  padding: 0.5rem;
}

// Inverse background & text color
.Section--inverse {
  background-color: $color-inverse;
  color: #fff;
  //.btn {
  //  color: inherit;
  //}
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.Heading {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
}

.Heading-underlined {
  position: relative;
  margin-bottom: 1.5rem;
  text-transform: lowercase;
  &:before {
    position: absolute;
    content: "";
    width: 3rem;
    height: 2px;
    bottom: -0.5rem;
    border-bottom: 2px solid black;
  }
}

// Darker color
.bg-darker {
  background-color: #31373D;
}

.bg-light-blue {
  background-color: $bg-light;
}

// 300, 400, 500, 600

.font-size-1 {
  font-size: 1.25rem;
}

.font-size-2 {
  font-size: 1.5rem;
}

.font-size-3 {
  font-size: 2rem;
}

// Sticky Footer
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &.admin-bar {
    min-height: calc(100vh - 32px);
  }
  .wrap {
    flex: 1;
  }
}
