section.Section-banner {
  $bg-color: #4AABC9;
  background: url("/app/uploads/2018/02/bubbles.png") no-repeat center center;
  background-size: cover;
  background-color: $bg-color;
  position: relative;
  .Section-bannerText {
    @include media-breakpoint-up(md) {
      h1 {
        font-size: 3rem;
      }
      p {
        font-size: 1.25rem;
      }
    }
  }
  &:after {
    $width: 0.9rem;
    content: '';
    display: block;
    position: absolute;
    bottom: -$width;
    left: calc(50% - #{$width} / 2);
    width: $width;
    height: $width;
    border-left: $width solid transparent;
    border-right: $width solid transparent;
    border-top: $width solid $bg-color;
  }
  .jumbotron {
    background-color: transparent;
    margin-bottom: 0;
    padding: 1.5rem 0;
  }
  .Card {
    color: $body-color;
    &.index-0 {
      margin-right: 1rem;
      margin-bottom: 2rem;
      transform: rotate(5deg);
    }
    &.index-1 {
      margin-left: 0.5rem;
      position: relative;
      bottom: -5rem;
      transform: rotate(3deg);
    }
    &.index-2 {
      margin-right: 1rem;
      margin-top: 2rem;
      transform: rotate(-9deg);
    }
  }
}