.btn {
  font-family: $headings-font-family;
  &.btn-primary {
    @extend .text-white;
    font-size: 80%;
  }
}

.btn-outline-primary {
  &:hover, &:focus {
    .Section--inverse & {
      //color: white;
    }
  }
  &:active {
    .Section--inverse & {
      //color: $blue;
    }
  }
}

.btn-outline-light {
  &:hover, &:active {
    color: $primary !important;
  }
  &:focus {
    color: white;
  }
}

.Btn-outline {
  min-width: 15rem;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  font-size: 1.2rem;
  border-width: 2px;
}