.Card {
  border-radius: 8px;
  overflow: hidden;
}

// Services
.Card-service {
  margin: auto;
  width: 12em;
  height: 12em;
  padding: 1.5em;
  text-align: center;
  .Section-services & {
    margin-top: 2em;
  }
  img.Card-serviceThumbnail {
    width: 5em;
    height: auto;
    margin: auto;
    .Card-service--small > & {
      width: 4rem;
    }
  }
  .Card-serviceTitle {
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: 600;
    @extend .Heading;
  }
}

.Card-service--small {
  font-size: 70%;
}

.Card-service--rotateClockwise {
  transform: rotate(4deg);
}

.Card-service--rotateCounterclockwise {
  transform: rotate(-4deg);
}

// Portfolio
.Card-portfolio {

}

.Card-blog {
  .Card-blogTitle {
  }
  .Card-blogCategory {
  }
  .Card-blogPublishedDate {
    position: relative;
    top: 1px;
  }
}

.Card-blog--full {
  img.Card-blogThumbnail {
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    width: 100%;
  }
}
