.Card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 7px 42px 0px rgba(0, 0, 0, 0.1);
}

.Card-section {
  padding: 2rem;
  margin-top: 2rem;
}

// Services
.Card-service {
  //margin: auto;
  width: 12em;
  height: 12em;
  padding: 1.5em;
  margin-right: 1.0rem; // Offset rotation
  text-align: center;
  float: right;
  .order-first > & {
    float: none;
    margin-right: 0;
    margin-left: 1.0rem; // Offset rotation
  }
  .Section-services & {
    margin-top: 2em;
  }
  img.Card-serviceThumbnail {
    width: 5em;
    height: auto;
    margin: auto;
    .Card-service--small > & {
      width: 4rem;
    }

  }
  .Card-serviceTitle {
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: 600;
    @extend .Heading;
  }
}

.Card-service--small {
  font-size: 80%;
}

.Card-service--rotateClockwise {
  transform: rotate(4deg);
}

.Card-service--rotateCounterclockwise {
  transform: rotate(-4deg);
}

// Portfolio
.Card-portfolio {

}

.Card-blog {
  .Card-blogTitle {
  }
  .Card-blogCategory {
  }
  .Card-blogPublishedDate {
    position: relative;
    top: 1px;
  }
}

.Card-blog--full {
  img.Card-blogThumbnail {
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    width: 100%;
  }
}
