footer.Section-footer {
  $grey: #989B9E;
  $grey-darker: #54595E;
  font-family: 'Montserrat';
  color: $grey;
  padding: 0;
  @mixin mobileTextAlignment() {
    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }
  section {
    @include media-breakpoint-down(sm) {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
  address, ul.list-inline {
    margin: 0;
  }
  a, span {
    color: $grey;
  }
  p {
    font-weight: 300;
  }
  hr {
    border-color: $grey-darker;
  }
  .Footer-topSection {
    padding: 3.5rem 0 2rem 0;
    @include media-breakpoint-down(sm) {
      padding: 1.5rem 0 0.5rem 0;
    }
  }
  .Footer-bottomSection {
    padding: 0.5rem 0 1rem 0;
    @include media-breakpoint-down(sm) {
      padding: 0rem 0 0.25rem 0;
    }
  }
  .Footer-address {
    font-size: 90%;
    p {
      margin-bottom: 0;
    }
    @include mobileTextAlignment;
  }
  .Footer-contact {
    color: white;
    text-align: center;
    text-transform: uppercase;
    .Footer-contactQuestion {
      font-weight: $font-weight-normal;
      padding-top: 0.25rem;
      padding-bottom: 0.15rem;
    }
    button {
      text-transform: uppercase;
    }
    .dropdown-item {
      font-size: 80%;
    }
  }
  .Footer-links {
    text-align: right;
    font-size: 90%;
    ul.list-inline {
      @include mobileTextAlignment;
      li.list-inline-item {
        margin: 0 0 1rem 1rem;
      }
    }
  }
  .Footer-terms {
    text-transform: uppercase;
    font-weight: $font-weight-light;
    font-size: 80%;
    ul.list-inline {
      margin: 0;
      li.list-inline-item {
        margin-right: 1.5rem;
        a {
          color: $grey-darker;
        }
      }
    }
  }
  .Footer-social {
    text-align: center;
    ul.list-inline {
      margin: 0;
      li.list-inline-item {
        margin: 0 0.75rem;
        i {
          color: $grey-darker;
          font-size: 1.40rem;
        }
      }
    }
  }
  .Footer-copyright {
    text-align: right;
    font-weight: $font-weight-light;
    font-size: 80%;
    @include mobileTextAlignment;
    span {
      color: $grey-darker;
    }
  }
}