.Navigation {
  font-family: $headings-font-family;
  font-size: 0.9rem;
  //letter-spacing: $letter-spacing-lg;
  a.nav-link, a {
    font-weight: 300;
    letter-spacing: 0;
    text-transform: uppercase;
  }
  .container {
    padding: 0;
    @include media-breakpoint-down(md) {
      margin: 0;
      min-width: 100%;
    }
  }
}

.navbar-toggler-icon {
  //background:
}

.Navigation-header {
  li.nav-item {
    @include media-breakpoint-down(md) {
      font-size: 1.25rem;
      padding: 0.25rem 0;
    }
  }
}

//.navbar-collapse.show {
//  max-height: none !important;
//  height: auto !important;
//}

//.navbar-collapse.show {
//  overflow: hidden;
//  position: absolute;
//  min-height: 100vh;
//  top: 0;
//  background: black;
//  width: 100%;
//  left: 0;
//  margin-top: 4rem;
//}

.Navigation-category {
  .card {
    padding: 1rem 1.5rem;
  }
  ul.list-inline, .search-form {
    margin: 0;
  }
  .search-form {
    input.search-field {
      padding: 0.5rem;
      border: none;
      background-color: $gray-200;
      &::placeholder {
        color: $gray-400;
      }
    }
    input.search-submit {
      display: none;
    }
  }

  .Navigation-search {
    flex-grow: 1;
  }
}

.Navigation-header {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}