.Navigation {
  font-family: $headings-font-family;
  font-size: 1rem;
  letter-spacing: 0.05rem;
}

.Navigation-category {
  .card {
    padding: 0.5rem 1rem;
  }
  ul.list-inline, .search-form {
    margin: 0;
  }
  .search-form .search-field {
    padding: 0.5rem;
  }

  .Navigation-search {
    flex-grow: 1;
  }
}

.Navigation-header {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}