p.Testimonial-quote {
  line-height: 2.2;
  font-weight: $font-weight-light;
  font-style: italic;
  position: relative;
  letter-spacing: 0.10rem;
  font-size: 1.25rem;
  font-family: $headings-font-family;
  &:before {
    z-index: -1;
    content: "";
    position: absolute;
    width: 5rem;
    height: 5rem;
    display: block;
    left: -1rem;
    top: -1rem;
    background: url("/app/uploads/2018/02/Quote1.svg");
  }
  &:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 5rem;
    height: 5rem;
    display: block;
    background: url("/app/uploads/2018/02/Quote2.svg");
    bottom: -1rem;
    right: -1rem;
  }
}