p.Testimonial-quote {
  line-height: 2.2;
  font-weight: 300;
  font-style: italic;
  position: relative;
  &:before {
    z-index: -1;
    content: "";
    position: absolute;
    width: 5rem;
    height: 5rem;
    display: block;
    left: -1rem;
    top: -1rem;
    background: url("/app/uploads/2018/02/Quote1.svg");
  }
  &:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 5rem;
    height: 5rem;
    display: block;
    background: url("/app/uploads/2018/02/Quote2.svg");
    bottom: -1rem;
    right: -1rem;
  }
}