p.Testimonial-quote {
  line-height: 2.2;
  font-weight: 300;
  font-style: italic;
  position: relative;
  &:before {
    z-index: -1;
    content: "";
    position: absolute;
    width: 5rem;
    height: 5rem;
    display: block;
    left: -1rem;
    top: -1rem;
    background: url("https://via.placeholder.com/200x200");
  }
  &:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 5rem;
    height: 5rem;
    display: block;
    background: url("https://via.placeholder.com/200x200");
    bottom: -1rem;
    right: -1rem;
  }
}